<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <filter>
        <whitelist>
            <directory>src/OpenTracing</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="OpenTracing/Memcached Test Suite">
            <directory>tests/OpenTracing</directory>
        </testsuite>
    </testsuites>
</phpunit>
